body {
    background: url(e48m_5511.jpg);
}

header.jumbotron {
    background: url(yjimage6.jpg);
    background-size: cover;
    color: blue;
}

header.jumbotron h1 {
    text-align: center;
}

hedear.jumbotron p {
    font-size: 30px;
    text-align: left;
}

#introduction {
    margin-bottom: 40px;
}

#introduction h1 {
    text-shadow: 2px 2px 0px lightblue;
}

#introduction p {
    font-size: 24px;
}

#footer-images {
    max-height: 100px;
    padding: 0;
}
